<html>
    <head>
        <title>Login Form Design</title>
        <link rel="stylesheet"  href="../static/css/credentials.css" type="text/css">
        <body>
            <div class="signupbox">
                <img src="/static/img/login_1.png" class="signup">
                <h1>Sign-Up Here</h1>
                <form action="/adminreg" method="post">
                    <!-- <p>Enter Full Name</p>
                    <input type="text" name="fullname"  placeholder="Enter Your Full Name"> -->
                    <p>Enter AdminID</p>
                    <input type="text" name="admin" placeholder=" Create Your Admin Id of CABIFY">
                    <!-- <input type="number" name="mobile" placeholder="Enter your mobile-number"> 
                    <p>Enter Password</p> -->
                    <input type="password" name="password" placeholder="Enter password 8-16">
                    <!-- <p>Re-Enter Password</p>
                    <input type="password" name="" placeholder="Enter password 8-16"> -->

                    <input type="Submit" value="Sign Up">
                    <a href="/login"><p>Already Have Account?</p>Login</a><br>
                    
                
                </form>
                
            </div>

        </body>
    </head>
</html>