<html>
    <head>
        <title>Login Form Design</title>
        <link rel="stylesheet"  href="../static/css/adminlogin.css" type="text/css">
        <body>
            <div class="loginbox">
                <img src="/static/images/adminlogo.webp" class="login">
                <h1>Login Here</h1>
                <form action="" method="post">
                    <p>Username</p>
                    <input type="text" name="admin" placeholder="Enter your Admin id">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Enter your Password">
                    <input type="Submit" name="" value="Login">
                    <!-- <a href="forgotpassword.html">Forgot Password?</a><br> -->
                    <!-- <a href="/register">Create New Account?</a><br> -->
                    <!-- <a href="/">Go Back</a> -->
                    <a href="/">Go To Main Page</a>
                    
                </form>
                
            </div>
 <style>
                    body{
                        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{url_for('static', filename="/images/display1.jpeg")}});
						background-size: cover;
 					    background-position: center;
 						height: 100vh;
                        
                    }


                </style>
<script>

</script>                    
        </body>
    </head>
</html>