<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Profile</title>
</head>
<body>
    <h1>Bike Profile List</h1>

       <a href="/admin/addbike">Add New Modek</a>


    <table>
        <tr>
            <th colspan="8">Bike List</th>
        </tr>
        <tr>
            <th>Bikeid</th>
            <th>Bike Name</th>
            <th>Bike Model</th>
            <th>Title</th>
            <th>Description</th>
            <th>price</th>
            <th>Status</th>
        </tr>
        {%for row in bike %}
        <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
            <td>{{row.3}}</td>
            <td>{{row.4}}</td>
            <td>{{row.5}}</td>
            <td>{{row.6}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>