<!DOCTYPE html>
<html>
  <head>
    <title>Motorbike Booking</title>
    <link rel="stylesheet" type="text/css" href="/static/css/booking.css">
  </head>
  <body>
    <header>
      <h1>Book Your Motorbike</h1>
    </header>
    <a href="/home"><button class="back">Go Back</button></a>
    <main>
    
        <div class="bikemodel">
          <img src="../static/images/bikes/R15M.jpg" alt="bike" style="width:400px; margin-left: 65%;">
  
          <form onsubmit="return validateForm()">
            <Label for="bike" style="margin-left:7% ; font-size: 32px ; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bold;">BMW G310 GS BS4</Label>
           <!--  <input type="text" name="bike" id="bike" value="BMW G310 GS BS4" readonly style="display: none;">
             <h3  style="margin-left:7% ; font-size: 32px ; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Duration</h3>
             <label for="bike-type" style="font-weight: bold;" hidden>Model:</label>
          <select id="bike-type" name="bike" style="font-weight: bold;" hidden>
            <option selected value="KTM">BMW G310 GS BS4</option>
          </select> -->
            
          <label for="time" style="font-weight: bold;">Duration</label>
              <select id="time"  name="duration" onpointerleave="calculatePrice()" style="font-weight: bold;">
      
  
      <option value="12">12 hrs</option>
      <option selected value="24">1 day</option>
      <option value="48">2 day</option>
      <option value="72">3 day</option>
      <option value="96">4 day</option>
      <option value="120">5 day</option>
      <option value="144">6 day</option>
      <option value="168">1 week</option>
      <option value="336">2 weeks</option>
      <option value="504">3 weeks</option>
      <option value="720">1 month</option>
      </select>
  
      
      <br><br>
    <label for="rate">Rate (in Rupees):</label>
    <input type="text" id="rate" name="rate" value="66.6" style="display:none;"><br><br>
    <!-- <button type="button" onclick="calculatePrice()">Calculate Price</button> -->
    <button class="button1" type="submit" ><p id="result">RENT</p></button>
          </form>
  </div>        
  
          </main>
          <script>
  function calculatePrice() {
    var time = document.getElementById("time").value;
    var rate = document.getElementById("rate").value;
    var price =    Math.floor (time * rate );
    if (price == 0) {
      document.getElementById("result").innerHTML =  "RENT ";
    }
    else {
    document.getElementById("result").innerHTML =  "RENT ₹" + price + "only";
  }
  
  
  function validateForm() {
    var bike= document.getElementById("bike").value;
    var rate = document.getElementById("rate").value;
  
    if (!bike || !rate ) {
      alert("Please enter all the required fields");
      return false;}
    else if (rate == 0) {
          alert("Please select the time");
      return false;
          
      }
  
    else {  
    return true;
  }
  }
  
  
  }
  </script>
  
          <footer>
  <P> @Copyright by Bikers Dream</P>
          </footer>
          </body>
          </html>