<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="twistthrottle.in">

    <meta name="keywords" content="">
    <meta name="description" content="Twist Throttle Bike Rentals offers the best bikes at the lowest prices across Bangalore with an array of varied rental options in two-wheelers. Whether you enjoy the thrills of a sports bike, dream of riding the Royal Enfield, Harley Davidson, and Ducati or prefer the ease of driving a scooter, TwistThrottle offers you options in every choice you make. It is committed in making sure that your ride is hassle-free.">
    <title> Premium Bike Rentals in Bangalore | Rent Premium Bikes in Bangalore </title>
    <!-- Favicons -->
    <!-- <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/images/logo.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/logo.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/logo.png" /> -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="../static/css/chosen.css" rel="stylesheet" media="screen">
    <link href="../static/css/prism.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <!-- Default Styles -->
    <link href="../static/css/style.css?version=1.05" rel="stylesheet">
    <!-- Custom Styles -->
    <link href="../static/css/custom.css?version=1.09" rel="stylesheet">
    <link type="text/css" href="../static/css/jquery.simple-dtpicker.css" rel="stylesheet" />
    <link type="text/css" href="../static/css/new.css?version=1.06" rel="stylesheet" />

    <link type="text/css" href="../static/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link type="text/css" href="../static/css/contact-buttons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
    <style>
        .nav-tabs>li {
            /*float: left;*/
            margin-bottom: 18px;
        }
    </style>

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link href="../static/css/jquery.timepicker.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '115550803731717');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=115550803731717&ev=PageView&noscript=1"
/></noscript>
    <!-- End Facebook Pixel Code -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VGRK6NB66V"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-VGRK6NB66V');
    </script>

</head>
 <!-- style="background-color:#fff;/*background-repeat: no-repeat;*/padding: 0px 21px 0px 21px;background-image:url(../static/images/justtrip-bike-patterwn.png);/*background-attachment: fixed;background-size: 100% 684.712px;background-position: 51% -60px;*/" -->
<body>

    <div id="wrapper">
        <div class="topbar hidden-xs">
            <div class="container">
                <!-- <div class="pull-right">
                    <div id="navbar-collapse" class="navbar-right navbar-collapse collapse clearfix">
                        <ul class="nav navbar-nav yamm">

                            <li><a href="/#fleet_section">Our Fleet</a></li>
                            <li><a href="/list-your-bike">Lease your bikes</a></li>
                            <li><a href="/own-a-franchise">Own A franchise</a></li>
                            <li><a href="/aboutUs">Why Bikers Dream</a></li>
                            <li><a href="/contact">Support</a></li>
                        </ul>
                    </div>
                </div> -->
                <!-- end right -->
                <div class="pull-right">

                </div>
                <!-- end left -->
            </div>
            <!-- end container -->
        </div>
        <!-- end topbar -->

        <header class="header" style="border-bottom: 1px solid #f34f4f42;box-shadow: 0 1.5px 2px 0 hsla(0,0%,88%,.5);margin-bottom: -22px;background-color:#fff;/*background-repeat: no-repeat;*//*padding: 0px 0px 0px 0px;*//*background-image:url(../static/images/justtrip-bike-patterwn.png)*//*background-attachment: fixed;background-size: 100% 684.712px;background-position: 51% -60px;*/">
            <div class="menu-container mobile_menu_show">
                <div class="menu-wrapper">
                    <nav id="navigation" class="navbar" role="navigation">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <p class="sidebar-dropper drop1"><a data-toggle="sidebar" data-target=".sidebar-right" class="noborder" href="#"><i class="icon-menu27"></i></a></p>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-8 center_logo">
                                    <a id="brand" class="clearfix navbar-brand-trans" href="/" style="margin:0px;">
                              <!-- <img src="../static/images/logo.png" alt="Trips" style="height: 66px;"></a> -->
                                </div>
                                
                                    <a href="tel:+918951035117">
                                    <p> 89510 35117 </p>
                                </a>
                                
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="" >
                                    </div>
                                </div>

                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="menu-container">
                <div class="menu-wrapper">
                    <nav id="navigation" class="navbar" role="navigation">
                        <div class="container">
                            <div class="row mobile_menu_hide">

                                <div class="col-md-6 col-sm-6 logo-block mobile_menu_hide">
                                    <a id="brand" class="clearfix navbar-brand-trans" href="tel:+918951035117" style="margin:0px;">
                              <!-- <img src="../static/images/logo.png" alt="Trips" style="height: 56px;"></a> -->
                                </div>
                                <div class="col-md-2 col-sm-6 text-right">
                                    <p class="number"><i class="fa fa-mobile" aria-hidden="true"></i> 89510 35117</p>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="row">

                                        <div class="col-md-2 col-xs-2 col-sm-2">
                                            <div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-5 col-sm-5 col-xs-4 mob_hide"> -->
                                            <!-- <div class="leng" style=""> -->

                                                <!-- <div>
                                                    <a class="login-no-bg" style="" href="/logout">Logout Session</a>
                                                </div> -->


                                            <!-- </div> -->
                                        <!-- </div> -->
                                        <div class="col-md-1 col-sm-2">
                                            <div class="pull-right" >
                                                <!-- <li class="dropdown mob_hide" style="list-style: none;"><a href="#"><img src="../static/images/Headphone-icon-justtrip.png" class="img-center" alt=""></a></li> -->
                                                <ul class="dropdown-menu submenu-margin" role="menu" class="num">
                                                    <li style="border: none;"><a href="#"> 89510 35117</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-2" >
                                            <p class="sidebar-dropper drop1"><a data-toggle="sidebar" data-target=".sidebar-right" class="noborder" href="#">
                                                <i class="icon-menu27" ></i>
                                            </a>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- end menu-container -->

            <div class="sidebar-menu-container">
                <div class="col-sm-2 col-md-2 sidebar sidebar-right sidebar-animate">
                    <a data-toggle="sidebar" data-target=".sidebar-right" class="float_right" href="#"><i class="icon-wrong6-1"></i></a>
                     <ul class="nav navbar-stacked">  

                        <!-- <li><a href="/aboutUs">About</a></li> 
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/privacy-policy">Privacy policy</a></li>

                        <li class="mob_view"><a href="/list-your-bike">Lease your bike</a></li>
                        <li class="mob_view"><a href="/own-a-franchise">Own A franchise</a></li>
                        <li class="mob_view"><a href="/aboutUs">Why Twist Throttle</a></li>
                        <li class="mob_view"><a href="/contact">Support</a></li>



                        <div class="col-md-5 col-sm-5 col-xs-4 mob_show">
                            <div class="leng" style="">

                                <div class="login-no-bg">
                                    <a href="/sign-up">Login / Sign up</a>
                                </div>


                            </div>
                        </div> -->

                        <!-- <div class="col-md-1 col-sm-2">
                          <div class="pull-right" style="">
                            <li  class="dropdown" style="list-style: none;"><a href="#"><img src="/images/Headphone-icon-justtrip.png" class="img-center" alt=""></a></li>
                          </div>
                      </div> -->


                    </ul>
                    <div>
                        <hr>
                    </div>
                    <p class="sidepanel-need-help opensans">Need Help?</p>
                    <p class="sidepanel-numer opensans"><i class="icon-telephone5"></i> 89510 35117</p>
                    <!-- <p class="sidepanel-numer opensans"><i class="icon-mail"></i> <a href="mailto:contact@twistthrottle.in"> contact@twistthrottle.in </a></p> -->
                    <div>
                        <hr>
                    </div> 
                    
                    <p class="sidepanel-need-help opensans">My Profile</p>
                    <a href="/updateprofile"><button>Update Profile </button></a>
                    <br><br>

                    <p class="sidepanel-need-help opensans">Bike Company</p>
                    <form action="/home" id="myForm"  method="post">
                    <select  name="select"  onchange="submitForm()" >
                        <option value="">--select--</option>
                        <option value="">All</option>
                        <!-- <option value="honda">Honda</option> -->
                        <option value="bajaj">Bajaj</option>
                        <option value="yamaha" >Yamaha</option>
                        <option value="suzuki">Suzuki</option>
                        <!-- <option value="kawasaki">Kawasaki</option> -->
                        <!-- <option value="harley_davidson">Harley-Davidson</option> -->
                        <!-- <option value="bmw">BMW</option> -->
                        <!-- <option value="ducati">Ducati</option> -->
                        <!-- <option value="triumph">Triumph</option> -->
                        <option value="kTM">KTM</option>
                        <!-- <option value="aprilia">Aprilia</option> -->
                        <!-- <option value="piaggio">Piaggio</option> -->
                        <!-- <option value="royal_enfield">Royal Enfield</option> -->
                        <!-- <option value="husqvarna">Husqvarna</option> -->
                        <!-- <option value="mv_agusta">MV Agusta</option> -->
                        <!-- <option value="zero">Zero</option> -->
                        <!-- <option value="indian">Indian</option> -->
                        <!-- <option value="victory">Victory</option> -->
                        <!-- <option value="benelli">Benelli</option> -->
                        <!-- <option value="kymco">KYMCO</option> -->
                        <!-- <option value="vespa">Vespa</option> -->
                        <!-- <option value="piaggio">Piaggio</option> -->
                        <!-- <option value="sym">SYM</option> -->
                        <!-- <option value="gogoro">Gogoro</option> -->
                        <option value="others">Others</option>
                      </select>
                      <!-- <input type="submit" > -->
                    </form>
                    <script>
                        function submitForm() {
                          // Get the form element
                          var form = document.getElementById("myForm");
                          // Submit the form
                          form.submit();
                        }
                      </script>
                   
                   
                    <br><br>

                    <p class="sidepanel-need-help opensans">My Bookings</p>
                    <a href="/mybookings"><button>Bookings </button></a>
                    <br><br>

                    <p class="sidepanel-need-help opensans">Logout Session</p>
                    <a href="/logout"><button>Logout here </button></a>
                   
                </div>
            </div>
                  <section class="section clearfix section-bottom fullscreen background parallax padding-top padding-bottom">
           
            <div class="container">
                
                <div class="hotel-title" id="fleet_section">
                    
                    <h3 class="berlin">Our Fleet 
                          
                    
                       
                          </h3>    
                         
                      <hr class="left">
                </div>

                <div class="row">

                    {% if data%}
                    {% for x in data %}
                
                    <div class="col-md-2">
                        <a href="/landingpage/{{x[2]}}" style="min-height:185px;display: block;">
                                                           <img src="{{ url_for('uploaded_file', filename=x[3]) }}" style="width: 100%;" alt="{{ x[2]}}">
                                                           
                           <p class="slider-bikes-title">{{ x[2] }}</p>
                           <p class="slider-bikes-price text-center">Starts @ {{ x[6] }}<i class="fa fa-inr" aria-hidden="true"></i> /hr</p>
                           <!-- <div > {{x[11]}}</div> -->
                           </a>
                    </div>
                    
                    {% endfor %}

                    {% else %}
                    <h3>Bike Not Available </h3>
                    {%endif %}
                </div>
            </div>
        </section>
        <script>
            function filterBikes() {
                var selectElement = document.getElementById("companySelect");
                var selectedCompany = selectElement.value;
                
                var bikeElements = document.querySelectorAll("[data-bike-company]");
                bikeElements.forEach(function(element) {
                    if (selectedCompany === "" || element.getAttribute("data-bike-company") === selectedCompany) {
                        element.style.display = "block";
                    } else {
                        element.style.display = "none";
                    }
                });
            }
        </script>

                    
        <section class="section clearfix section-bottom fullscreen background parallax padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row margin-top">
                            <div class="hotel-title">
                                <hr class="left">
                            </div>
                             </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section testimonials-padding" data-img-width="1920" data-img-height="586" data-diff="10">
            <div class="container">
                <div class="row">
                    <div class="hotel-title text-center">
                        <h3 class="berlin">What our customers have to say</h3>
                        <p class="opensans app-dec">We are so happy to create rides, allow us to create a happy story for you :)</p>
                        <hr>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8">
                        <div id="testimonials">
                       
                        
                           <div class="testi-item">
                                <div class="hotel-title text-center">
                                    <p>It was nice service provided by Bike Rentals, it was my first ride.Bike Rentals people are so helpfull :)</p>
                                    <h6>- Ravi / TCS Mumbai</h6>
                                </div>
                            </div> 
                            <!-- end testi-item -->
                        </div>
                        <!-- end testimonials -->
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

            </div>    <div class="footer-tabs clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
    
        <!-- end copyrights -->
        <div class="payment-sprite clearfix">
            <div class="container">
                <hr class="hr-nomargin" style="border-color: #666;">
                <div class="row">
                    <div class="secure">
                        <ul class="list-unstyled">
                            <li> <span class="footer-seperator">Verisign Secure<i class="sprite-footer ico-verisign-secure"></i></span> </li>
                        </ul>
                        <!-- <ul class="list-unstyled">
                            <li> <span>We accept</span> <i title="Visa-secure" class="sprite-footer ico-visa-secure"></i> </li>
                            <li> <i class="Master-card"></i> </li>
                            <li> <i title="American-Express" class="sprite-footer ico-american-secure"></i> </li>
                            <li> <i title="Diner-club" class="sprite-footer ico-diner-club"></i> </li>
                            <li> <i title="Rupay" class="sprite-footer ico-rupay"></i> </li>
                            <li> <i title="Net-Banking" class="sprite-footer ico-net-secure"></i> </li>
                        </ul> -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>

        <!-- end copyrights -->
        <div class="copyrights clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Copyright ©bikers_dream.com All Rights Reserved</p>
                    </div>
                    <!-- end col -->

                    <div class="col-md-6 text-right">
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end copyrights -->
    </div>
    <!-- end wrapper -->

    <!-- Template core JavaScript's
    ================================================== -->

    <script src="../static/js/jquery.min.js"></script>
    <script defer="defer" src="../static/js/jquery-ui.js"></script>
    <script defer="defer" src="../static/js/bootstrap.min.js"></script>
    <script defer="defer" src="../static/js/retina.js"></script>
    <script defer="defer" src="../static/js/sidebar.js"></script>
    <script defer="defer" src="../static/js/circle.js"></script>
    <script defer="defer" src="../static/js/progress.js"></script>
    <script defer="defer" src="../static/js/jquery.prettyPhoto.js"></script>
    <script defer="defer" src="../static/js/contact.js"></script>
    <script defer="defer" src="../static/js/parallax.js"></script>

    <script defer="defer" src="../static/js/owl.carousel.js"></script>
    <script defer="defer" src="../static/js/bootstrap-select.js"></script>
    <!-- Date Picker -->
    <script type="text/javascript" src="../static/js/jquery.simple-dtpicker.js"></script>

    <script type="text/javascript" src="../static/js/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="../static/js/jquery.contact-buttons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>


    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->


    <script defer="defer" src="../static/js/chosen.jquery.js" type="text/javascript"></script>
    <script defer="defer" src="../static/js/prism.js" type="text/javascript" charset="utf-8"></script>

    <script defer="defer" src="../static/js/custom.js?version=1.07"></script>
    <script>
        $('#searchlocation').on('blur', function() {
            $('#datetime2').datetimepicker('show');
        })
        /*$(document).on('click','.xdsoft_time',function(){
          alert(1);
        });
        $('#datetime2').on('blur',function(){
        //alert(1);
          $('#datetime3').datetimepicker('show');
        })*/
    </script>
    <script>
        jQuery(function() {
            var d1 = new Date();
            //alert(d1);
            var h = d1.getHours();
            if (h == 23) {
                h = 1;
                d1.setDate(d1.getDate() + 1);
            } else {
                h = h + 1;
            }
            if (h < 9) {
                h = 9;
            }
            if (h < 10) {
                h = '0' + h;
            }

            var defaultTime = h + ":00";


            var selected = new Date();
            var h = selected.getHours();
            if (h == 23) {
                h = 1;
                selected.setDate(selected.getDate() + 1);
            } else {
                h = h + 1;
            }
            if (h < 9) {
                h = 9;
            }
            if (h < 10) {
                h = '0' + h;
            }
            var defaultTime2 = h + ":00";

            var logic = function(currentDateTime) {
                selected = currentDateTime;
                var d1 = new Date();
                //console.log(currentDateTime.getDate());
                //console.log(d1.getDate());
                //console.log(currentDateTime.getMonth());
                //console.log(d1.getMonth());

                jQuery('#datetime3').val('');
                if (currentDateTime.getDate() == d1.getDate() && currentDateTime.getMonth() == d1.getMonth()) {
                    this.setOptions({
                        minTime: defaultTime,
                        maxTime: '22:00',
                    });
                } else {
                    //alert(1);
                    // Lift time restriction if selected day is not today
                    this.setOptions({
                        minTime: '09:00',
                        maxTime: '22:00',
                    });
                }
            };

            var logic2 = function(currentDateTime) {

                defaultTime2 = selected.getHours() + 1 + ":00";
                //console.log(currentDateTime); 
                var newDate = new Date();
                newDate.setDate(selected.getDate());
                newDate.setMonth(selected.getMonth());
                //var setdate= new Date(selected.date.valueOf());
                if (currentDateTime.getDate() == selected.getDate() && currentDateTime.getMonth() == selected.getMonth()) {
                    //alert(1);
                    this.setOptions({
                        defaultDate: newDate,
                        minDate: newDate,
                        minTime: defaultTime2,
                        maxTime: '22:00',
                    });
                } else {
                    //alert(2);
                    // Lift time restriction if selected day is not today
                    this.setOptions({
                        defaultDate: newDate,
                        minDate: newDate,
                        minTime: '09:00',
                        maxTime: '22:00',
                    });
                }
            };
            var date1 = $('#datetime2').val().split(' ');
            var time1 = date1[1];
            // Initiate datepicker with custom logic
            $('#datetime2').datetimepicker({
                format: 'd-m-Y H:i',
                closeOnDateSelect: 'false',
                minDate: d1,
                defaultTime: defaultTime2,
                onChangeDateTime: function(date) {
                    //console.log(date);
                    var currentDateTime = date;
                    if (currentDateTime.getDate() == d1.getDate() && currentDateTime.getMonth() == d1.getMonth()) {
                        this.setOptions({
                            minTime: defaultTime,
                            maxTime: '22:00',
                        });
                    } else {
                        //alert(1);
                        // Lift time restriction if selected day is not today
                        this.setOptions({
                            minTime: '09:00',
                            maxTime: '22:00',
                        });
                    }
                    date2 = $('#datetime2').val().split(' ');
                    time2 = date2[1];
                    if (time1 == undefined) {
                        time1 = time2;
                    }
                    if (time2 != time1) {
                        time1 = time2;

                        //$('#datetime3').datetimepicker('setMinDate',date2[0]);
                        //$('#datetime3').datetimepicker('setMinTime',time2);
                        $('#datetime3').datetimepicker('show');
                        $('#datetime2').datetimepicker('hide');
                    }


                },
                onShow: logic,

            });


            jQuery('#datetime3').datetimepicker({
                format: 'd-m-Y H:i',
                closeOnDateSelect: 'true',
                minDate: $("#datetime2").datetimepicker("getDate"),
                defaultTime: defaultTime2,
                onChangeDateTime: logic2,
                onShow: logic2

            });
        });
    </script>
<!-- <script src="{{ url_for('static', filename='js/pagerefresh.js') }}"></script> -->



    <script src="../static/js/jquery.timepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&key=AIzaSyAlxFUguMxODP0G9Q6c90eEZZI9Yu_X0hQ" type="text/javascript"></script>
    <script type="text/javascript">
        function initialize() {
            var input = document.getElementById('searchlocation');
            var autocomplete = new
            google.maps.places.Autocomplete(input);
            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {

                    // User entered the name of a Place that was not suggested and            
                    // pressed the Enter key, or the Place Details request
                    //failed.      
                    // window.alert("No details available for input: '"+ place.name + "'");            
                    return;
                }
                $('#bikeareasearch').val(place.geometry.location);
                $('#bikelocation').val(place.name);
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();
                $('#latitudefront').val(place.geometry.location.lat());
                $('#longitudefront').val(place.geometry.location.lng());
                let matches = place.address_components.filter(address_component => ["locality", "colloquial_area"].some(word => ~address_component.types.indexOf(word)))

                if (!matches || !matches.length) {
                    console.log("Could not resolve city name.")
                } else {
                    console.log("Found city : ", matches[0].short_name) // Prints : Minsk
                    $('#bikecity').val(matches[0].short_name);
                }
                console.log(place.address_components);
                //$('#city').val(place.city);          
                // If the place has a geometry, then present it on a map.          
                if (place.geometry.viewport) {
                    //
                    //alert(place.name);            
                    //
                    //alert(place.geometry);          
                } else {
                    //alert(place.geometry.viewport);           
                    //alert(place.geometry.location);          
                }
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script>
        /*$('#searchlocation').on('blur',function(){
        	$('#datetime2').datetimepicker('show');
        })*/
        /*$(document).on('click','.xdsoft_time',function(){
          alert(1);
        });
        $('#datetime2').on('blur',function(){
        //alert(1);
        	$('#datetime3').datetimepicker('show');
        })*/
    </script>

    <style>
        body{
            background-image: url(../static/images/justtrip-bike-patterwn.png);
        }
    </style>
  
    <script type="text/javascript">
        /*$(function(){
        			$('#datetime2').appendDtpicker();	
        		});
        		*/
        //var x = document.cookie;
        //$('#citycookie').val(x);
    </script>
    <script type="text/javascript">
        /*$(function(){
        			$('#datetime3').appendDtpicker();
        			
        		});
        		*/
        var allcookies = document.cookie;
    </script>
    <script>
    </script>
   
    



</body>

</html>