<!DOCTYPE html>
<html>
<head>
	<title>Bikers Dream</title>
	<link rel="stylesheet" type="text/css" href="static/css/style1.css">
	<link rel="stylesheet" href="/static/css/navbars.css">
</head>
<body>
<header>
<nav>
  <a href="/admin" class="admin-link">Admin</a>
  <!-- <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a> -->
</nav>	

		 <!-- <nav>
    <a class="nav-button1" href="/adminlogin">Admin</a>
  </nav> -->
		<!-- <ul> 
			<li class="active"><a href="#">Home</a> </li>
			<li><a href="#">Services</a> </li>
			<li><a href="#">Terms & Conditions</a> </li>
			<li><a href="#">Contact</a> </li>
		 </ul> -->
	</div >
	<div class="title">
		<h1>Welcome to<br> Bikers Dream </h1>
	</div>

	<div class="button">
		<a href="/Login" class="btn">Login</a>
		<a href="/register" class="btn">Sign Up</a>
		<a href="/home" class="btn">Go without Login</a> 
	</div>
</header>
  <style>
                    body{
                        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{url_for('static', filename="bg/startup.jpg")}});
						background-size: cover;
 					    background-position: center;
 						height: 100vh;
                    }

                </style>
</body>
</html>